body,
html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-top: 10px;
}

label::after {
  content: ":";
}

header {
  background: lightgoldenrodyellow;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid brown;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

footer {
  background: lightgoldenrodyellow;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid brown;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

.mainContainer {
  width: 800px;
  margin: 0px auto;
  border: 10px;
  background-color: white;
  padding: 10px;
  flex: 1 1 auto;
}
